@use './typography';

//BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//FONTS
$font-family-reg: 'Titillium Web', sans-serif;
$font-family-bold: 'Titillium Web Bold', sans-serif;

//COLORS
$primary-color-black: #13182C;
$primary-color-indigo: #2E66E5;
$primary-color-white: #FFFFFF;

$secondary-color-slate: #5C667E;
$secondary-color-cloud: #BDC5D5;

$background-color-graphite: #232940;
$background-color-gray: #F7F8F9;

$supporting-color-green: #158463;
$supporting-color-red: #C94515;

